In [5]:
a = 2
b = 3

a + b

5

In [6]:
type(a)

int

In [7]:
a = 2.3

In [8]:
a + b

5.3

In [9]:
type(a)

float

In [10]:
type('Hello, world!')

str

In [11]:
'my string' + 2

TypeError: must be str, not int

In [12]:
'The Dude ' + 'abides.'

'The Dude abides.'

In [13]:
"The dude sbides.""

SyntaxError: EOL while scanning string literal (<ipython-input-13-6e4e3c915576>, line 1)

In [14]:
"The dude abides."

'The dude abides.'

In [15]:
"The dudes' rug."

"The dudes' rug."

In [18]:
my_str = """It was the best of times,
it was the worst of times..."""

print(my_str)

It was the best of times,
it was the worst of times...

In [23]:
2.1 + 3.2

5.300000000000001

In [25]:
'4' + '2'

'42'

In [27]:
int('42') + 58

100

In [48]:
a = 2

a = a + 2

a

4

In [49]:
a += 5

a

9

In [50]:
a /= 3

a

3.0

In [51]:
a /= 2

a

1.5

In [52]:
a += 0.5

a

2.0

In [53]:
5 == 5

True

In [54]:
5 == 4

False

In [56]:
type(False)

bool

In [57]:
a = 4
b = 5
c = 4

a == b

False

In [58]:
a == c

True

In [59]:
5.3 == 5.3

True

In [63]:
2.1 + 3.2 != 5.3

True

In [62]:
abs((2.1 + 3.2) - 5.3) < 1e-12

True

In [64]:
'steph curry' > 'lebron james'

True

In [65]:
ord('a')

97

In [66]:
'AGCTGATAGA' == 'AGTACAGATCGA'

False

In [68]:
str_1 = 'lebron'
str_2 = 'lebron'

str_1 is str_2

True

In [71]:
a = 5.6
b = 5.6

a is b

False

In [75]:
a = 5.6
b = a
a = 6.1

a is b

False

In [76]:
a is not b

True

In [83]:
not (False and True)

True

In [84]:
True + False

1

In [95]:
codon = 'UGA'

if codon == 'AUG':
    print ('This is the start codon.')
elif codon == 'UAA' or codon == 'UAG' or codon == 'UGA':
    print('This is a stop codon.')
else:
    print('This is neither the start nor a stop codon.')

This is a stop codon.

In [97]:
my_var = 5

In [98]:
my_var + 7

12

In [100]:
my_list_1 = [1, 2, 3, 4]
type(my_list_1)

list

In [106]:
my_list_1 = [1, 1, 2, 3, 4, 'a string',
            ['a string in another list', 5]]
my_list_1

[1, 1, 2, 3, 4, 'a string', ['a string in another list', 5]]

In [108]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [110]:
5 not in my_list_1

True

In [111]:
stop_codons = ['UAA', 'UAG', 'UGA']
codon = 'UGA'

if codon == 'AUG':
    print ('This is the start codon.')
elif codon in stop_codons:
    print('This is a stop codon.')
else:
    print('This is neither the start nor a stop codon.')

This is a stop codon.

In [117]:
my_list_1[-1][-1]

5

In [118]:
my_list_1[0:4]

[1, 1, 2, 3]

In [120]:
my_list_1[0:-3]

[1, 1, 2, 3]

In [133]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(id(my_list))

my_list[4] = 'four'

print(id(my_list))

4544149576
4544149576

In [131]:
my_list[4] = 'four'

In [134]:
a = 6
print(id(a))

a = 7
print(id(a))

4495738368
4495738400

In [138]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list_2 = my_list

my_list_2[0] = 'a'

my_list_2

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [139]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
list('The Dude abides.')

['T',
 'h',
 'e',
 ' ',
 'D',
 'u',
 'd',
 'e',
 ' ',
 'a',
 'b',
 'i',
 'd',
 'e',
 's',
 '.']

In [143]:
my_tuple = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

a_tuple = (0,)
not_a_tuple = (0)

In [145]:
not_a_tuple

0

In [147]:
my_smaller_tuple = (1, 2, 3)

my_smaller_tuple

(1, 2, 3)

In [148]:
a, b, c = my_smaller_tuple

In [149]:
a

1

In [150]:
b

2

In [151]:
c

3

In [152]:
my_tuple = (1, 2, 3)

my_list = list(my_tuple)

my_list[0] = 'a'

my_list

['a', 2, 3]

In [153]:
my_tuple

(1, 2, 3)

In [160]:
seq = 'ACGCATGCGCTAGCTAGCTGCACTGA'

n_gc = 0

len_seq = 0

for base in seq:
    print(base)
    len_seq += 1
    print('Is this a G or C?')
    if base in 'GgCc':
        print('Yes! I found a ' + base)
        n_gc += 1
        print('Now we have ' + str(n_gc) + ' GCs')
    else:
        print('No you idiot')
    print('---')
        
n_gc / len_seq

A
Is this a G or C?
No you idiot
---
C
Is this a G or C?
Yes! I found a C
Now we have 1 GCs
---
G
Is this a G or C?
Yes! I found a G
Now we have 2 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 3 GCs
---
A
Is this a G or C?
No you idiot
---
T
Is this a G or C?
No you idiot
---
G
Is this a G or C?
Yes! I found a G
Now we have 4 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 5 GCs
---
G
Is this a G or C?
Yes! I found a G
Now we have 6 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 7 GCs
---
T
Is this a G or C?
No you idiot
---
A
Is this a G or C?
No you idiot
---
G
Is this a G or C?
Yes! I found a G
Now we have 8 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 9 GCs
---
T
Is this a G or C?
No you idiot
---
A
Is this a G or C?
No you idiot
---
G
Is this a G or C?
Yes! I found a G
Now we have 10 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 11 GCs
---
T
Is this a G or C?
No you idiot
---
G
Is this a G or C?
Yes! I found a G
Now we have 12 GCs
---
C
Is this a G or C?
Yes! I found a C
Now we have 13 GCs
---
A
Is this a G or C?
No you idiot
---
C
Is this a G or C?
Yes! I found a C
Now we have 14 GCs
---
T
Is this a G or C?
No you idiot
---
G
Is this a G or C?
Yes! I found a G
Now we have 15 GCs
---
A
Is this a G or C?
No you idiot
---

0.5769230769230769

In [161]:
my_list = [1, 2, 3, 4, 5]

my_list[0] *= 2
my_list[1] *= 2
my_list[2] *= 2
my_list[3] *= 2
my_list[4] *= 2

In [162]:
my_list

[2, 4, 6, 8, 10]

In [171]:
my_list = [1, 2, 3, 4, 5]

In [173]:
len(my_list)

5

In [176]:
for i in range(len(my_list)):
    print(i)

0
1
2
3
4

In [177]:
for i in range(len(my_list)):
    my_list[i] *= 2
    
my_list

[2, 4, 6, 8, 10]

In [189]:
my_list = [1, 2, 3, 4, 5]

In [190]:
for i in range(len(my_list)):
    my_list[i] += 1
    print (my_list[i])

2
3
4
5
6

In [197]:
my_list_2 = ['a', 'b', 'c']

for i in range (len(my_list_2)):
    my_list_2[i] += 'a'
    print (my_list_2[i])

aa
ba
ca

In [206]:
for i in range (2, 10):
    print (i, end = ' ')

print()
    
for i in range (2, 10, 2):
    print (i, end = '   ')

2 3 4 5 6 7 8 9
2   4   6   8

In [217]:
for i, base in enumerate(seq):
    print(i, seq[i])

0 A
1 C
2 G
3 C
4 A
5 T
6 G
7 C
8 G
9 C
10 T
11 A
12 G
13 C
14 T
15 A
16 G
17 C
18 T
19 G
20 C
21 A
22 C
23 T
24 G
25 A

In [223]:
my_list = [1, 2, 3, 4, 5]

for i, element in enumerate(my_list):
    my_list[i] *= 2
    
my_list

[2, 4, 6, 8, 10]

In [225]:
my_str = 'abcdef'

for i, char in enumerate(my_str):
    if char == 'c':
        my_str[i] = 'C'

TypeError: 'str' object does not support item assignment

In [230]:
names = ('Lloyd', 'Holiday', 'Heath')
positions = ('MF', 'MF', 'F')
numbers = (10, 12, 17)

for num_silly, pos, name in zip(numbers, positions, names):
    print(num_silly, name, pos)

10 Lloyd MF
12 Holiday MF
17 Heath F

In [232]:
alphabet = ('a', 'b', 'c', 'd', 'e')

for letter in reversed(alphabet):
    print(letter, end = ' ')

e d c b a

In [233]:
start_codon

NameError: name 'start_codon' is not defined

In [234]:
start_codon = 'AUG'

In [235]:
seq

'ACGCATGCGCTAGCTAGCTGCACTGA'

In [236]:
seq += 'AUG'

In [237]:
seq

'ACGCATGCGCTAGCTAGCTGCACTGAAUG'

In [244]:
i=0

while seq[i:i+3] != start_codon:
    print(seq[i:i+3])
    i += 1
    
print('The start codon starts at index', i)

ACG
CGC
GCA
CAT
ATG
TGC
GCG
CGC
GCT
CTA
TAG
AGC
GCT
CTA
TAG
AGC
GCT
CTG
TGC
GCA
CAC
ACT
CTG
TGA
GAA
AAU
The start codon starts at index 26

In [247]:
len_seq = 0

for base in seq:
    len_seq += 1
    print(len_seq)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [248]:
def ratio(x, y):
    """The ratio of 'x to 'y."""
    return x/y

In [249]:
ratio?

Signature: ratio(x, y)
Docstring: The ratio of 'x to 'y.
File:      ~/<ipython-input-248-faaf71305c48>
Type:      function

In [250]:
ratio (7, 2)

3.5

In [251]:
def answer_to_the_ultimate_question_of_life_the_universe_and_everything():
    return 42

In [252]:
answer_to_the_ultimate_question_of_life_the_universe_and_everything

In [253]:
answer_to_the_ultimate_question_of_life_the_universe_and_everything()

42

In [254]:
def think_too_much():
    """Express Caesar's skepticism about Cassius."""
    print("""Yond Cassius has a lean and hungry look,
He thinks too much; such men are dnagerous.""")

In [258]:
return_val = think_too_much()

Yond Cassius has a lean and hungry look,
He thinks too much; such men are dnagerous.

In [260]:
print(return_val)

None

In [261]:
None

In [267]:
def complement_base(base, material='DNA'):
    """Returns the W-Crick complement of a base."""
    if base in 'Aa':
        if material == 'DNA':
            return 'T'
        elif material == 'RNA':
            return 'U'
    elif base in 'TtUu':
        return 'A'
    elif base in 'Cc':
        return 'G'
    else:
        return 'C'
    
def reverse_complement(seq, material='DNA'):
    """Computes reverse complement of a sequence."""
    # Initialize reverse complement
    seq = seq.upper()
    rev_seq = ''
    
    # Loop through and populate rev. compl.
    for base in reversed(seq):
        rev_seq += complement_base(base, material=material)
        
    return rev_seq

In [272]:
reverse_complement('atcg', material = 'RNA')

'CGAU'

In [271]:
my_material = 'RNA'
complement_base('A', material=my_material)

'U'

In [275]:
seq = 'ACTAGTCGATCGATCGATCGTAGCGATCACG'

In [278]:
(seq.count('G') + seq.count('C')) /len(seq)

0.5161290322580645

In [279]:
seq = 'ACTAGTCGATCGATCGATCGTAGCGATCACGAUGAGUAUGUG'

In [281]:
seq.count('AUG')

2

In [282]:
seq.find('AUG')

31

In [283]:
seq.rfind('AUG')

37

In [286]:
seq = 'acagatgatgctagtg'
seq_up = seq.upper()
print(seq)
print(seq_up)

acagatgatgctagtg
ACAGATGATGCTAGTG

In [287]:
words = ['The', 'Dude', 'Abides.']

In [291]:
' '.join(words)

'The Dude Abides.'

In [293]:
my_str = """Let's do a Mad Lib!
During this bootcamp, I feel {adjective}.
The instructors give us {plural_noun}""".format(adjective = 'sleepy', plural_noun = 'haircuts')

print(my_str)

Let's do a Mad Lib!
During this bootcamp, I feel sleepy.
The instructors give us haircuts

In [299]:
print('There are {n:.15f} states in the US'. format(n=50.32))

There are 50.320000000000000 states in the US

In [295]:
'asdf' +str(2032)

'asdf2032'

In [306]:
print('Avogadro\'s number is {N_A:.16e}'.format(N_A = 6.022e23))

Avogadro's number is 6.0220000000000003e+23

In [307]:
n_states = 50

In [308]:
f'There are {n_states} in the US.'

'There are 50 in the US.'

In [309]:
'r50'

'r50'

In [313]:
n_states = 16
f'r{n_states}'

'r16'

In [311]:
'r' + '50'

'r50'

In [312]:
'r{n_states:d}'.format(n_states = n_states)

'r50'